.Unordered {
    list-style-type: square;
}

.nested-ul {
    list-style-type: circle;
}

.Unordered {

    line-height: 170%;
    
    }

    .unordered {

        background: #0719A1;
        
        padding: 20px;
        
        width: 30%;
        
        font-family: Arial, Helvetica, sans-serif;
        
        }
        
        .unordered li {
        
        background: #D888FF;
        
        margin: 5px;
        
        }
        
        .nested-ul li {
        
        background: #0719A1;
        
        margin: 5px;
        
        }

        .ordered {

            background: #1f0fb1;
            
            padding: 30px;
            
            width: 20%;
            
            font-family: 'monospace', cursive;
            
            font-size: 1.1em;
            
            }
            
            .ordered li {
            
            background: #e78814;
            
            padding: 2px;
            
            margin-left: 20px;
            
            }

            .custom-box-list {

                margin: 0;
                
                padding: 0;
                
                list-style-type: none;
                
                }
                
                .custom-box-list li {
                
                counter-increment: step-counter;
                
                margin-bottom: 10px;
                
                }
                
                .custom-box-list li::before {
                
                content: counter(step-counter);
                
                margin-right: 5px;
                
                font-size: 80%;
                
                background-color: rgb(19, 17, 150);
                
                color: rgb(212, 29, 29);
                
                font-weight: bold;
                
                padding: 3px 8px;
                
                border-radius: 3px;
                
                }
.list-image {
    list-style: none;
    padding-left: 0;
}

.list-image li {
    position: relative;
    padding-left: 30px;
    line-height: 170%;
}

.list-image li:before {
content: '';
width: 20px;
height: 20px;
position: absolute;
background-image: url(facebook.png);
background-size: cover;
background-position: center;
left: 0;
top: 50%;
transform: translateY(-50%);
}

.popular-sites {

    list-style: none;
    
    padding-left: 0;
    
    }
    
    .popular-sites li {
    
    position: relative;
    
    padding-left: 30px;
    
    line-height: 170%;
    
    }
    
    .popular-sites li:before {
    
    content: '';
    
    width: 20px;
    
    height: 20px;
    
    position: absolute;
    
    background-image: url('instagram.png');
    
    background-size: cover;
    
    background-position: center;
    
    left: 0;
    
    top: 50%;
    
    transform: translateY(-50%);
    
    }